#Container {
    position: relative;

    select {
        position: absolute;

        width: 100%;
        min-height: 38px;
        top: 0;
        background-color: transparent;

        border-radius: 13px;
        border: none;
        padding: 0 1em;
        outline: none;

        z-index: 100;

        color: transparent;

        option {
            color: #000;
        }
    }


    div {
        z-index: 50;
        position: absolute;
        font-size: 15px;
        color: #000;

        width: 100%;
        min-height: 38px;
        background-color: #ffffff;
        border-radius: 13px;

        display: flex;
        align-items: center;
        padding: 0 0.5em;
    }

    @media (max-width: 450px){
        margin-top: 1em;
    }
}

#Containerfather {
    display: flex;
    flex-direction: column;
    
    button {
        height: 50px;
        width: 200px;
        border-radius: 13px;
        border: none;
        margin: 0.5em 0;
        cursor: pointer;

        font-size: 15px;
        font-weight: bold;
        color: #fff;
    }

    @media (max-width: 450px){
        button {
            width: 100%;
        }
    }
}